# ===============================================
# Proyecto U-Ride - Monorepo GitIgnore
# Ignite / React Native / Node.js / React
# ===============================================

# 1. Dependencias globales
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 2. Entorno y Seguridad (¡No cargar datos sensibles!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env
mobile/.env
*.pem

# 3. Compilados y Builds (Frontend / Web)
frontend/dist/
frontend/build/
.tsbuildinfo

# 4. Compilados y Builds (React Native / Mobile)
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/android/app/build/
mobile/android/build/
mobile/android/.gradle/
mobile/ios/build/
mobile/ios/Pods/
*.jks
*.keystore
*.p12
*.key
*.mobileprovision

# 5. Generados por el Backend (Node)
backend/logs/
backend/coverage/
backend/uploads/
coverage/

# 6. Herramientas del Sistema Operativo e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 7. Testing (Supertest / Jest local states)
.jest-test-results.json

# 8. Archivos auxiliares de LaTeX
Latex/*.aux
Latex/*.fdb_latexmk
Latex/*.fls
Latex/*.log
Latex/*.out
Latex/*.synctex.gz
Latex/*.toc
Latex/*.bbl
Latex/*.blg
Latex/*.lof
Latex/*.lot
# Latex/*.pdf # Descomentar si no se desea versionar el PDF generado
